.form{
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    margin: 50px auto 50px auto;
    padding: 20px 10px 20px 10px;
    font-family:monospace ;
}
#formGridCheckbox{
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
}

#dropDownCategory{
    width: 210px;
    padding: 5px;
    margin: 10px;
    margin-right: auto;

}

#dropDownType{
    width: 210px;
    padding: 5px;
    margin: 10px;
    margin-left: auto;
}
.submitBtn{
    width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  /* background-color: black !important; */
}
