.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  transform-style: preserve-3d;
  height: 20rem;
  width: 40rem;
  transition: 200ms;
  transform: rotateY(var("angle"));
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.custom-input {
  height: 8rem; /* You can adjust this value to your desired height */
  line-height: 8rem;
}

.savecardbtn {
  background-color: #d2bbee !important;
  border-color: #d2bbee !important;
  color: black;
}

.l-cards-container {
  margin-top: -4%;
}
